body {
    background-image: url('../resources/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo {
    float: none;
    position: absolute;
    left: 52%;
    transform: translate(-50%, 0%);
    top: 0;
    position: fixed;
}
.button {
    text-decoration: none;
    background:    #3c887e;
    border-radius: 7px;
    width:         100px;
    height:        40px;
    color:         #ebe4d8;
    font:          normal normal 17px/40px "Ubuntu", sans-serif;
    text-align:    center;
    display:       inline-block;
}
.nav-left {
    margin-left: 5%;
    margin-right: 5%;
}
.nav-right {
    float: right;
    margin-left: 5%;
    margin-right: 5%;
}
.nav-bar {
    position: relative;
    background-color: rgba(235, 228, 216, 0.8);
    overflow: hidden;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}


footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.column {
    background-color: rgba(235, 228, 216, 0.7);
    float:left;
    width: 25%;
    font: normal normal 17px/40px "Ubuntu", sans-serif;
    text-decoration: none;
    color: black;
}

.home {
    position: relative;
    padding-top: 10%;
    font: normal normal "Ubuntu", sans-serif;
    font-size: 25px;
    
}
#about {
    font-size: 30px;
    text-align: center;
}
.about-us{
   
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal;
    background-color: rgba(235, 228, 216, 0.7);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-color:  #52a79b;
    border-style: solid;
    border-radius: 10px;


}

.faq {
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal;
    background-color: rgba(235, 228, 216, 0.7);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-color:  #52a79b;
    border-style: solid;
    border-radius: 10px;

}

.grid-about {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    grid-gap: 20px;
}

.grid-item {
    border-radius: 10px;
    border-color:#73c9bd;
    border-style: solid;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

}
