body {
    background-image: url('../resources/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.logo {
    display: block;
    margin-left: 50%;
}
.nav-button {
    text-decoration: none;
    background:    #3c887e;
    border-radius: 7px;
    width:         100px;
    height:        40px;
    color:         #ebe4d8;
    display:       inline-block;
    font:          normal normal 17px/40px "Ubuntu", sans-serif;
    text-align:    center;
}
.nav-bar {
    background-color: rgba(235, 228, 216, 0.7);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    display: block;
}
