@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
  background: url("envelope.png") no-repeat fixed center;
  background-size: 90%;
}

#courier {
  width: 180px;
  height: 160px;
  position: absolute;
  top: 45%;
  animation: load 5s;
  animation-iteration-count: 1;
  

}
#banner {
  width: 500px;
  height: 260px;
  position: fixed;
  top: 20%;
  left: 32%;
}

#welcome {
  position: fixed;
  top: 33%;
  left: 41%;
  font-size:37px;
  font-weight: 900;
  font-family: 'Amatic SC', cursive;
  
}

@keyframes load {
  0% {left: 0%;}
  10% {left:10%}
  20% {left:20%}
  30% {left: 30%;}
  40% {left:40%;}
  50% {left: 50%;}
  60% {left: 60%;}
  70% {left: 70%;}
  80% {left: 80%;}
  90% {left: 90%;}
  100% {left:100%;}
}
